<!-- titre du site-->
<div id="website-title">
    <h1>projet audio</h1>
    <p>subtitle ...</p>
</div>

<div class="container">

    <!-- videos -->
    <aside class="aside-title">
        <h1 id="videos">Videos</h1>
        <p><a href="#">all videos</a></p>
    </aside>

    <section id="videos-select">
        <article>
            <a href=""> <%= image_tag("video-like-a-rose-530x300.jpg", :alt => "video-like-a-rose", :class => "") %> </a>
            <a href="#">Like A rose - Ashley Monroe</a>
        </article>
        <article>
            <a href=""> <%= image_tag("video-big-love-550-530x300.jpg", :alt => "video-big-love", :class => "") %> </a>
            <a href="#">Big Love - Carrie Rodriguez</a>
        </article>
        <article>
            <a href="#"><img src="/app/assets/images/video-waitin-on-june-530x300.jpg" alt=""></a>
            <a href=""> <%= image_tag("video-waitin-on-june-530x300.jpg", :alt => "video-wainting-on-june", :class => "") %> </a>
            <a href="#">Waiting On June - Holly Williams</a>
        </article>
    </section> <!-- /videos-select -->

    <!-- UPCOMING GIGS -->
    <aside>
        <h1 id="tour">Upcoming Gigs</h1>
    </aside>
    
    <section id="gigs">
       <a href="#">
          <article>
                <div class="gig-infos">
                    <h5>sep</h5>
                    <strong>14</strong>
                    <em>Nashville, Tn</em>
                    <p>The Bluebird Cafe</p>
                </div>
          </article>
       </a>

        <a href="#">
          <article>
                <div class="gig-infos">
                    <h5>sep</h5>
                    <strong>16</strong>
                    <em>Seattle, WA</em>
                    <p>Tractor Tavern</p>
                </div>
          </article>
       </a>

        <a href="#">
          <article>
                <div class="gig-infos">
                    <h5>sep</h5>
                    <strong>17</strong>
                    <em>Alexandria, VA</em>
                    <p>The Birchmere</p>
                </div>
          </article>
       </a>

        <a href="#">
          <article>
                <div class="gig-infos">
                    <h5>sep</h5>
                    <strong>25</strong>
                    <em>Washington</em>
                    <p>The Hamilton</p>
                </div>
          </article>
       </a>

       <a href="#">
          <article>
                <div class="gig-infos">
                    <h5>oct</h5>
                    <strong>30</strong>
                    <em>Chipping Ongar, Essex</em>
                    <p>Zinc Arts Centre</p>
                </div>
          </article>
       </a>

        <div class="gig-all"><a href="#">view all gigs</a></div>  

    </section>
    
</div> <!-- /container -->