<div class="container">
    
    <section id="about">
       
        <article>
            <h1 id="bio">About Obsidian</h1>
            <p>The Obsidian theme, like the naturally occurring volcanic glass of the same name, possesses an inherent allure that's stylish in appearance and practical in purpose. With distinctive background options and various customization possibilities, Obsidian makes it easy to create the ultimate hub for your online identity.</p>
        </article>
        
        <article id="music">
            <h1 id="photos">Vivienne's Omitted Line</h1>
            <a href=""> <%= image_tag("album-03-300x300.jpg", :alt => "album", :class => "") %> </a>
        </article>
        
        <artcile>
            <h1 id="news"><a href="/news">Recent Posts</a></h1>
            <a href="#">Welcome to our redesigned website</a>
            <em>April 1, 2015</em>
            <a href="#">New tour dates posted</a>
            <em>December 16, 2014</em>
            <a href="#">History of Popular Music</a>
            <em>December 15, 2014</em>
        </artcile>       
                 
    </section>
    
</div>
