<div class="container">
    <footer id="contact">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-amazon fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-apple fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-skyatlas fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-soundcloud fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-spotify fa-2x"></i></a></li>
                    </ul>

                    <p class="center">obsidian music theme by audiotheme.</p>
    </footer>
</div>